<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="row">
                    <img style="width: 100%; left: 0;" src="../../assets/img/rancho_la_tuna_logo.png">
                </div>
                              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                    <li class="nav-item active">
                      <a class="nav-link" [routerLink]="['./']" >Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['./ganado']" routerLinkActive="router-link-active" >Ganado</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['./pariciones']" routerLinkActive="router-link-active">Pariciones</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link disabled" href="#">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Compras</a>
                    </li>-->
                  </ul>
                </div>
              </nav>
        </aside>
        <main class="col">
          <!--<div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-header">
                Total de Animales
              </div>
              <div class="card-body">
                <label>
                  <strong> {{ noAnimales }} </strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-header">
                No. Becerros
              </div>
              <div class="card-body">
                <label>
                  <strong> {{ noAnimales }} </strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-header">
                No. Vaquillas
              </div>
              <div class="card-body">
                <label>
                  <strong> {{ noAnimales }} </strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-header">
                No. Vacas
              </div>
              <div class="card-body">
                <label>
                  <strong> {{ noAnimales }} </strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-header">
                No. Toros
              </div>
              <div class="card-body">
                <label>
                  <strong> {{ noAnimales }} </strong>
                </label>
              </div>
            </div>
          </div>-->
          <notifier-container></notifier-container>
          <router-outlet></router-outlet>
        </main>
    </div>
</div>

