<!-- TITLE -->
<div class="div-title">
    <div class="word">
        <span>G</span>
        <span>A</span>
        <span>N</span>
        <span>A</span>
        <span>D</span>
        <span>O</span>
    </div>
    <div class="text-right mb-2">
        <a [routerLink]="['./new']" routerLinkActive="router-link-active" class="btn btn-success btn-sm"> Agregar </a>
    </div>
</div>
<div></div>
<div class="hr-border"></div>

<!-- TABLA -->
<div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped">
        <thead class=".thead-dark">
            <tr>
                <th>No. Arete </th>
                <th>No. Animal </th>
                <th>Edad </th>
                <th>Sexo </th>
                <th>Clasificación </th>
                <th>Color</th>
                <th> Kgs </th>
                <th>Estado</th>
                <th>Crianza / Compra </th>
                <th>Observaciones</th>
                <th>Acciones </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of animales">
                <td>
                    <strong>
                        {{ row.noArete }}
                    </strong>
                </td>
                <td>
                    <strong>
                        <i>{{ row.noAnimal }}</i>
                    </strong>
                </td>
                <td>{{ row.edad }}</td>
                <td>
                    <span class="badge" [ngClass]="{ 
                        '0': 'badge-primary',
                        '1': 'product-new-label'}[row.sexo]"> 
                        {{ sexos[row.sexo].text == 'Macho' ? 'M' : 'H' }}
                    </span>
                </td>
                <td>{{ tipos[row.tipo].text }}</td>
                <td>{{ colores[row.color].text }}</td>
                <td>{{ row.kgs }} </td>
                <td>
                    <span class="badge" [ngClass]="{ 
                        '0': 'product-new-label',
                        '1': 'product-new-label-1',
                        '2': 'product-new-label-2',
                        '3': 'product-new-label-3',
                        '4': 'product-new-label-4',
                        '5': 'product-new-label-5',
                        '6': 'product-new-label-6',
                        '7': 'product-new-label-7'}[row.situacion]"> 
                        {{ situaciones[row.situacion].text }}
                    </span>
                </td>
                <td>
                    <span class="badge" [ngClass]="{ 
                        '0': 'badge-success',
                        '1': 'badge-primary'}[row.crianzaCompra]"> 
                        {{ crianzasCompras[row.crianzaCompra].text }}
                    </span>    
                </td>
                <td> {{ row.observaciones }} </td>
                <td class="td-actions ">
                    <a rel="tooltip" title="Ver detalles" [routerLink]="['./', 'detalles', row._id]" class="btn btn-primary btn-sm mr-1">
                        <i class="fas fa-eye fa-sm"></i>
                    </a>
                    <a rel="tooltip" title="Editar" [routerLink]="['./', 'editar', row._id]" class="btn btn-success btn-sm mr-1">
                        <i class="fas fa-pencil-alt fa-sm"></i>
                    </a>
                    <a rel="tooltip" title="Fecha palpación" (click)="onPalpado(row)" class="btn btn-palpado btn-sm mr-1">
                        <i class="far fa-hand-point-left fa-sm"></i>
                    </a>
                    <a rel="tooltip" title="Fecha empadre" (click)="onEmpadre(row)" class="btn btn-move btn-sm mr-1">
                        <i class="fas fa-people-carry fa-sm"></i>
                    </a>
                    <button rel="tooltip" title="Fecha cargada" [disabled]="row.situacion == 5 || row.sexo == 0" (click)="onCargada(row)" class="btn product-new-label-5 btn-sm mr-1">
                        <i class="fas fa-heart fa-sm"></i>
                    </button>
                    <button rel="tooltip" title="Parición" [disabled]="row.situacion != 5 || row.sexo == 0"
                    data-toggle="modal" data-target="#exampleModal" (click)="selectedParicion(row)" class="btn product-new-label btn-sm mr-1">
                        <i class="fas fa-baby fa-sm"></i>
                    </button>
                    <a rel="tooltip" title="Murio" (click)="onDeath(row._id)" class="btn btn-warning btn-sm mr-1">
                        <i class="fas fa-skull-crossbones
                        fa-sm"></i>
                    </a>
                    <a rel="tooltip" title="Enferma" (click)="onSick(row._id)" class="btn btn-seconday btn-sm mr-1">
                        <i class="fas fa-hand-holding-medical
                        fa-sm"></i>
                    </a>
                    <a rel="tooltip" title="Eliminar" (click)="onDelete(row._id)" class="btn btn-danger btn-sm">
                        <i class="fas fa-times-circle fa-sm"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>