<div class="register">
    <div class="row">
        <div class="col-md-3 register-left">
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{active: isEdition == false}" id="home-tab" aria-selected="true">Nuevo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{active: isEdition == true}" id="profile-tab" aria-selected="false">Edición</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading" *ngIf="isEdition"> Editar</h3>
                    <h3 class="register-heading" *ngIf="!isEdition">Registrar ganado</h3>
                    <form (ngSubmit)="submit()" [formGroup]="form" autocomplete="off">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>No. arete</label>
                                    <input type="number" class="form-control" formControlName="noArete" placeholder="No. arete" required>
                                </div>
                                <div class="form-group">
                                    <label>No. animal</label>
                                    <input type="number" class="form-control" formControlName="noAnimal" placeholder="No. animal" value="michael23" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Edad</label>
                                    <input type="text" class="form-control" formControlName="edad" placeholder="Edad" required>
                                </div>
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select id="situacion" class="form-control" formControlName="situacion" placeholder="--Seleccione--" required>
                                        <option value="-1" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of situaciones" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Compra / Crianza</label>
                                    <select id="crianzaCompra" class="form-control" formControlName="crianzaCompra"  placeholder="--Seleccione--" required>
                                        <option value="-1" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of crianzasCompras" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Sexo</label>
                                    <select id="sexo" class="form-control" formControlName="sexo" placeholder="--Seleccione--" required>
                                        <option value="-1" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of sexos" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>                        
                                <div class="form-group">
                                    <label>Clasificación</label>
                                    <select id="tipo" class="form-control" formControlName="tipo" placeholder="--Seleccione--" required>
                                        <option value="-1" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of tipos" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Color</label>
                                    <select id="color" class="form-control" formControlName="color"  placeholder="--Seleccione--" required>
                                        <option value="-1" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of colores" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <textarea rows="5" class="form-control" formControlName="observaciones" placeholder="Observaciones"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <input type="button" (click)="back()" class="btnCancel ml-1" value="Cancelar"/>
                            <input type="submit" class="btnRegister" value="Guardar"/>
                        </div>
                        <div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

