<div class="col-md-12">
    <div class="d-flex justify-content-between mb-2">
        <h3> Detalles </h3>
        <div class="col-md-2 text-right">
            <a class="btn btn-secondary btn-sm" [routerLink]="['../../']"> Regresar </a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header bg-dark" style="color: whitesmoke;">
            <div class="d-flex justify-content-between">
                <label>
                    <strong> No. Arete </strong>
                    {{ animal.noArete }}
                </label>
                <label> 
                    <strong> No. Pariciones </strong>
                    1
                </label>

            </div>
            
            
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <label>
                    <strong> No. Animal: </strong>
                    {{ animal.noAnimal }}
                </label>
                <label>
                    <strong> Edad: </strong>
                    {{ animal.edad  }}
                </label>
                <label>
                    <strong> Sexo: </strong>
                    {{ sexos[animal.sexo].text }}
                </label>
                <label>
                    <strong> Color: </strong>
                    {{ colores[animal.color].text }}
                </label>
                <label>
                    <strong> Adquirido mediante: </strong>
                    {{ crianzasCompras[animal.crianzaCompra].text }}
                </label>
                <label>
                    <strong> Kgs: </strong>
                    {{ animal.kgs }}
                </label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h5> Pariciones </h5>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <th> Año </th>
                    <th> Fecha </th>
                    <th> Sexo </th>
                    <th> Color </th>
                    <th> No. Arete</th>
                    <th> No. Animal</th>
                </thead>
                <tbody>
                    <tr>
                        <td> 2018 </td>
                        <td> 19/Abril/2020</td>
                        <td> M </td>
                        <td> Colorada </td>
                        <td> 0026458241556 </td>
                        <td> 4 </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h5> Empadres </h5>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <th> Año </th>
                    <th> Fecha </th>
                    <th> Sexo </th>
                    <th> Color </th>
                    <th> No. Arete</th>
                    <th> No. Animal</th>
                </thead>
                <tbody>
                    <tr>
                        <td> 2018 </td>
                        <td> 19/Abril/2020</td>
                        <td> M </td>
                        <td> Colorada </td>
                        <td> 0026458241556 </td>
                        <td> 4 </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h5> Palpaciones </h5>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <th> Año </th>
                    <th> Fecha </th>
                    <th> Sexo </th>
                    <th> Color </th>
                    <th> No. Arete</th>
                    <th> No. Animal</th>
                </thead>
                <tbody>
                    <tr>
                        <td> 2018 </td>
                        <td> 19/Abril/2020</td>
                        <td> M </td>
                        <td> Colorada </td>
                        <td> 0026458241556 </td>
                        <td> 4 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>