<div class="main-content">
    <div class="container-fluid">
        <!-- FORM -->
        <div class="row" *ngIf="mostrarFormulario" id="formularioGanado">
            <div class="card">
                <div class="header">
                    <h4 class="title">Nuevo Animal</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>No. arete</label>
                                    <input type="number" class="form-control" [(ngModel)]="selected.noArete" name="noArete" placeholder="No. arete">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>No. animal</label>
                                    <input type="number" class="form-control" [(ngModel)]="selected.noAnimal" name="noAnimal" placeholder="No. animal" value="michael23">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Edad</label>
                                    <input type="text" class="form-control" [(ngModel)]="selected.edad" name="edad" placeholder="Edad">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Sexo</label>
                                    <select id="sexo" class="form-control" [(ngModel)]="selected.sexo" name="sexo" placeholder="--Seleccione--">
                                        <option [ngValue]="null" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of sexos" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <select id="tipo" class="form-control" [(ngModel)]="selected.tipo" name="tipo" placeholder="--Seleccione--">
                                        <option [ngValue]="null" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of tipos" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Color</label>
                                    <select id="color" class="form-control" [(ngModel)]="selected.color" name="color" placeholder="--Seleccione--">
                                        <option [ngValue]="null" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of colores" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Situación</label>
                                    <select id="situacion" class="form-control" [(ngModel)]="selected.situacion" name="situacion" placeholder="--Seleccione--">
                                        <option [ngValue]="null" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of situaciones" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Compra / Crianza</label>
                                    <select id="crianzaCompra" class="form-control" [(ngModel)]="selected.crianzaCompra" name="crianzaCompra" placeholder="--Seleccione--">
                                        <option [ngValue]="null" disabled selected>--Seleccione--</option>
                                        <option *ngFor="let item of crianzasCompras" [value]="item.value">{{ item.text }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <textarea rows="5" class="form-control" placeholder="Observaciones"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn-toolbar pull-right">
                            <button (click)="mostrarTable()" class="btn btn-default btn-fill"> Cancelar </button>
                            <button type="submit" class="btn btn-info btn-fill"> Guardar </button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>